
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#1C1C1C;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Atena</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Promoções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vendas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mais
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: grey;">
              <li><a class="dropdown-item" href="/cad-autor">Cadastro de Autor</a></li>
              <li><a class="dropdown-item" href="/cad-livro">Cadastro de Livro</a></li>
              <li><a class="dropdown-item" href="/cad-editora">Cadastro de Editora</a></li>
              <li><a class="dropdown-item" href="/cad-funcionario">Cadastro de Funcionário</a></li>
              <li><a class="dropdown-item" href="/cad-usuario">Cadastro de Usuário</a></li>
              <li><a class="dropdown-item" href="/adm-login">Login Administrativo</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>
  