<h1>Cadastro de Livro</h1>
<div class="tudo">
  <form class="row g-3">
    <div class="col-md-12">
      <label>Título</label>
      <input type="text" [(ngModel)]="livro.titulo" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Resumo</label>
      <input type="text" [(ngModel)]="livro.resumo" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Descrição</label>
      <input type="text" [(ngModel)]="livro.descricao" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-12" >
      <label>Páginas</label>
      <input type="number" [(ngModel)]="livro.paginas" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-6">
      <label>Preço</label>
      <input type="number" [(ngModel)]="livro.preco" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-6">
      <label>Edição</label>
      <input type="number" [(ngModel)]="livro.edicao" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-12">
      <label>Idioma</label>
      <input type="text" [(ngModel)]="livro.idioma" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-12">
      <label>Ano de Lançamento</label>
      <input type="number" [(ngModel)]="livro.ano_lancamento" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>ID do autor</label>
      <input type="text" [(ngModel)]="livro.id_autor" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>ID da editora</label>
      <input type="text" [(ngModel)]="livro.id_editora" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-12" style="margin-left: 30%;">
      <button type="submit" (click)="cadastrarLivro()" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
  </div>