<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Contato</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Sobre</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Locais</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Politica e Privacidade</a></li>
      </ul>
      <p class="text-center">© 2022 Biblioteca Atena</p>
    </footer>
  </div>