<h1>Cadastro de Autor</h1>
<div class="tudo">
  <form class="row g-3"> 
    <div class="col-md-12">
      <label>Nome</label>
      <input type="text" [(ngModel)]="autor.nome" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Telefone</label>
      <input type="text" [(ngModel)]="autor.telefone" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-8">
      <label>Rua</label>
      <input type="text" [(ngModel)]="autor.rua" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-4">
      <label>Número</label>
      <input type="text" [(ngModel)]="autor.numero" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Bairro</label>
      <input type="text" [(ngModel)]="autor.bairro" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-12">
      <label>CEP</label>
      <input type="text" [(ngModel)]="autor.cep" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-6">
      <label>Cidade</label>
      <input type="text" [(ngModel)]="autor.cidade" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-6">
      <label>UF</label>
      <input type="text" [(ngModel)]="autor.uf" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Data de Morte</label>
      <input type="date" [(ngModel)]="autor.data_morte" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-12" >
      <label>Nacionalidade</label>
      <input type="text" [(ngModel)]="autor.nacionalidade" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12" >
      <label>Biografia</label>
      <input type="text" [(ngModel)]="autor.biografia" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-12">
      <button type="submit" (click)="cadastrarAutor()" class="btn btn-primary" style="margin-left: 35%;">Cadastrar</button>
    </div>
  </form>
</div>