<h1>Cadastro de Funcionário</h1>
<div class="tudo">
  <form class="row g-3">
    <div class="col-md-12">
      <label>Nome</label>
      <input type="text" [(ngModel)]="funcionario.nome" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Telefone</label>
      <input type="text" [(ngModel)]="funcionario.telefone" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-8">
      <label>Rua</label>
      <input type="text" [(ngModel)]="funcionario.rua" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-4">
      <label>Número</label>
      <input type="text" [(ngModel)]="funcionario.numero" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Bairro</label>
      <input type="text" [(ngModel)]="funcionario.bairro" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-12">
      <label>CEP</label>
      <input type="text" [(ngModel)]="funcionario.cep" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-6">
      <label>Cidade</label>
      <input type="text" [(ngModel)]="funcionario.cidade" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-6">
      <label>UF</label>
      <input type="text" [(ngModel)]="funcionario.uf" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Username</label>
      <input type="text" [(ngModel)]="funcionario.username" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Senha</label>
      <input type="password" [(ngModel)]="funcionario.password" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Data de admissão</label>
      <input type="date" [(ngModel)]="funcionario.data_admissao" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Salário</label>
      <input type="text" [(ngModel)]="funcionario.salario" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Cargo</label>
      <input type="text" [(ngModel)]="funcionario.cargo" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-12" style="margin-left: 30%;">
      <button type="submit"  (click)="cadastrarFuncionario()" class="btn btn-primary" style="margin-left: 35%;" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
  </div>
