<h1>Cadastro de Usuário</h1>
<div class="tudo">
  <form class="row g-3">
    <div class="col-md-12">
      <label>Nome</label>
      <input type="text" [(ngModel)]="user.nome" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Telefone</label>
      <input type="text" [(ngModel)]="user.telefone" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-8">
      <label>Rua</label>
      <input type="text" [(ngModel)]="user.rua" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-4">
      <label>Número</label>
      <input type="text" [(ngModel)]="user.numero" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Bairro</label>
      <input type="text" [(ngModel)]="user.bairro" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-12">
      <label>CEP</label>
      <input type="text" [(ngModel)]="user.cep" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-6">
      <label>Cidade</label>
      <input type="text" [(ngModel)]="user.cidade" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-6">
      <label>UF</label>
      <input type="text" [(ngModel)]="user.uf" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-12">
        <label>Username</label>
        <input type="text" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
        <label>Senha</label>
        <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-12" style="margin-left: 30%;">
      <button type="submit" (click)="cadastrarUsuario()" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
  </div>
