.tudo{
    margin: 0% 35%;
    width: 30%;
    padding: 3%;
    border-style: solid;
    background-color: #1C1C1C;
    opacity: 0.80;
    border-radius: 10%;
    border-color: #8B4513;
  }

  label{
    color: white;
  }
  h1{
    text-align: center;
    margin-bottom: 5%;
  }