<ul>
    <p>Autores cadastrados:</p>
    <li *ngFor="let autor of autores">
        {{ autor.nome }} ({{ autor.nacionalidade }})
    </li>
</ul>

<ul>
    <p>Livros cadastrados:</p>
    <li *ngFor="let livro of livros">
        {{ livro.titulo }} ({{ livro.idioma }})
    </li>
</ul>

<ul>
    <p>Editoras cadastrados:</p>
    <li *ngFor="let editora of editoras">
        {{ editora.nome }} ({{ editora.id }})
    </li>
</ul>

<ul>
    <p>Funcionários cadastrados:</p>
    <li *ngFor="let funcionario of funcionarios">
        {{ funcionario.nome }} ({{ funcionario.cargo }})
    </li>
</ul>

