<h1>Cadastro de Editora</h1>
<div class="tudo">
  <form class="row g-3">
    <div class="col-md-12">
      <label>Nome</label>
      <input type="text" [(ngModel)]="editora.nome" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Telefone</label>
      <input type="number" [(ngModel)]="editora.telefone" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-8">
      <label>Rua</label>
      <input type="text" [(ngModel)]="editora.rua" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-4">
      <label>Número</label>
      <input type="text" [(ngModel)]="editora.numero" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Bairro</label>
      <input type="text" [(ngModel)]="editora.bairro" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
  
    <div class="col-md-12">
      <label>CEP</label>
      <input type="text" [(ngModel)]="editora.cep" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    
    <div class="col-md-6">
      <label>Cidade</label>
      <input type="text" [(ngModel)]="editora.cidade" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-6">
      <label>UF</label>
      <input type="text" [(ngModel)]="editora.uf" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>CNPJ</label>
      <input type="text" [(ngModel)]="editora.cnpj" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>IE</label>
      <input type="text" [(ngModel)]="editora.ie" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Razão social</label>
      <input type="text" [(ngModel)]="editora.razao_social" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-12" style="margin-left: 30%;">
      <button type="submit" (click)="cadastrarEditora()" class="btn btn-primary" style="margin-left: 35%;">Cadastrar</button>
    </div>
  </form>
  </div>