<h1>Login Administrativo</h1>
<div class="tudo">
  <form class="row g-3">
    <div class="col-md-12">
      <label>Username</label>
      <input type="text" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-md-12">
      <label>Senha</label>
      <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="col-12" style="margin-left: 30%;">
      <button type="submit" (click)="logar()" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
  </div>